<?xml version="1.0" encoding="utf-8"?>
<SalamanderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<MultiMarkdownPath>/usr/local/bin/multimarkdown</MultiMarkdownPath>
	<LastRunTime>2013-04-13T13:03:17.860944-07:00</LastRunTime>
	<BaseURL>http://kdmblog.sol/</BaseURL>
	<Title>kdmurray.blog</Title>
	<Subtitle>The crossroads of life and tech.</Subtitle>
	<CopyrightNotice>(C) 2007-2012 Keith Murray. All Rights Reserved.</CopyrightNotice>
	<AuthorName>Keith Murray</AuthorName>
	<AuthorURL>http://kdmurray.net/</AuthorURL>
	<FeedType>RSS2</FeedType>
	<PostsPerPage>10</PostsPerPage>
	<PostsInFeed>15</PostsInFeed>
	<DraftsDir>/Users/kdmurray/salamander/drafts</DraftsDir>
	<PostsDir>/Users/kdmurray/salamander/posts</PostsDir>
	<PagesDir>/Users/kdmurray/salamander/pages</PagesDir>
	<TemplatesDir>/Users/kdmurray/salamander/templates/default</TemplatesDir>
	<OutputDir>/Users/kdmurray/salamander/output</OutputDir>
</SalamanderConfig>